<div>
  <p id="registerFeedback"></p>
</div>

<div class="container d-flex justify-content-center">
  <form class="row g-3" [formGroup]="form" (ngSubmit)="register()">
    <div class="col-12">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Your username"
        formControlName="username"
      />

      <div *ngIf="username.errors">
        <span
          style="color: red"
          *ngIf="username.errors && (username.touched || username.dirty)"
        >
          <span *ngIf="username.errors.required">Username is required</span>
          <div *ngIf="username.errors.pattern">
            Username not a valid format.
          </div>
        </span>
      </div>
    </div>

    <div class="col-12">
      <label for="username" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        formControlName="email"
      />
      <div
        *ngIf="email.errors && (email.touched || email.dirty)"
        [ngClass]="'error'"
      >
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.pattern">Email not a valid format.</div>
      </div>
    </div>

    <div class="col-12">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="******************"
        formControlName="password"
      />

      <div *ngIf="password.errors">
        <span
          style="color: red"
          *ngIf="password.errors && (password.touched || password.dirty)"
        >
          <span *ngIf="password.errors.required">Password is required</span>
          <span *ngIf="password.errors.minlength"
            >Password must be greater tha 8 characters</span
          >
          <span *ngIf="password.errors.maxlength"
            >Password can be max 16 characters long</span
          >
        </span>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center">
      <button type="submit" class="btn btn-dark">Register</button>
    </div>
  </form>
  <div class="mt-3">
    <p>Already registered?</p>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-dark" (onclick)="goToLogIn()">
        Log in
      </button>
    </div>
  </div>
</div>
