.span-logo {
  border: 10px solid;
  padding: 3px;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.link-unset {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

.link-unset:hover {
  color: rgba(255, 255, 255, 0.75);
}
