<div>
  <p id="formFeedback"></p>
</div>

<div class="container d-flex justify-content-center mx-auto my-5">
  <form class="row g-3 w-75" [formGroup]="form" (ngSubmit)="resetPassword()">
    <div class="col-12">
      Please type in your username and email address to receive an email with
      your new password.
    </div>
    <div class="col-12">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Your username"
        formControlName="username"
      />

      <div *ngIf="username.errors">
        <span
          style="color: red"
          *ngIf="username.errors && (username.touched || username.dirty)"
        >
          <span *ngIf="username.errors.required">Username is required</span>
          <div *ngIf="username.errors.pattern">
            Username not a valid format.
          </div>
        </span>
      </div>
    </div>

    <div class="col-12">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="******************"
        formControlName="email"
      />

      <div *ngIf="email.errors">
        <span
          style="color: red"
          *ngIf="password.errors && (password.touched || password.dirty)"
        >
          <span *ngIf="password.errors.required">Password is required</span>
          <span *ngIf="password.errors.minlength"
            >Password must be greater tha 8 characters</span
          >
          <span *ngIf="password.errors.maxlength"
            >Password can be max 16 characters long</span
          >
        </span>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center">
      <button type="submit" class="btn btn-dark">Reset password</button>
    </div>
  </form>
</div>
