<div class="container mx-auto text-center">
  <form class="mx-auto my-5 input-group mb-3">
    <input
      aria-label="Search books or authors"
      class="p-2 w-15 rounded form-control"
      type="text"
      placeholder="Search books or authors"
      #input
    />
  </form>

  <div
    *ngIf="results !== undefined"
    class="container mb-3 justify-content-center border-container"
  >
    <h1 class="h2">
      <span *ngIf="results !== undefined" class="results">Results</span>
    </h1>

    <div class="book-card" *ngFor="let result of results">
      <a class="text-decoration-none" [routerLink]="['/book', result.id]">
        <img
          *ngIf="result.volumeInfo.imageLinks"
          class="thumbnail"
          src="{{ result.volumeInfo.imageLinks.thumbnail }}"
        />
        <div class="author-info wrap">
          <p class="gradient-text">
            {{ result.volumeInfo.title }} <br />
            By {{ result.volumeInfo.authors }}
          </p>
        </div>
      </a>

      <form
        class="row d-flex justify-content-center"
        (ngSubmit)="goToBook(result.id)"
      >
        <button class="btn btn-dark w-50" type="submit">Go to book</button>
      </form>
    </div>
  </div>
</div>
