.thumbnail {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  transition: all 0.2s;
  animation: zoomin 0.5s;
}

body {
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif !important;
}

.border-container {
  border: 10px solid;
  padding: 3px;
  border-image-slice: 1;
  border-width: 1px;
  border-radius: 25px;
  border-style: solid;
  border-image-source: linear-gradient(45deg, #0ff0b3, #036ed9 80%);
}

.background-container {
  padding: 5px 0;
  color: white;
  align-items: center;
  background: linear-gradient(90deg, #743ad5, #d53a9d);
  background-size: 150% 100%;
  display: flex;
  justify-content: center;
  transition: all 1s;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}

.background-container-stats {
  padding: 5px 0;
  color: white;
  align-items: center;
  background: linear-gradient(90deg, #0ff0b3, #036ed9 80%);
  background-size: 150% 100%;
  display: flex;
  justify-content: center;
  transition: all 1s;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}

/*
 * Styles for form submission control 
 * used in register, login and account components
 */

.error {
  color: red;
}

#formFeedback {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 0px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#formFeedback.requestOk {
  background-color: green;
}

#formFeedback.requestKo {
  background-color: red;
}

#formFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
