<div class="text-center" *ngIf="!finishedLoading">
  <div
    class="spinner-border"
    role="status"
    style="width: 3rem; height: 3rem; margin: 5rem auto"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container" *ngIf="finishedLoading">
  <!--CARD-->
  <div class="my-5 mx-auto" style="max-width: 600px">
    <div class="row g-0">
      <div class="col-md-4 responsive-img">
        <img
          src="{{ book.volumeInfo.imageLinks.thumbnail }}"
          class="m-2 img-fluid thumbnail"
          alt="Cover image"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" *ngIf="book.volumeInfo.title">
            {{ book.volumeInfo.title }}
          </h5>
          <p class="card-text">By {{ book.volumeInfo.authors }}</p>

          <p class="card-text" *ngIf="book.volumeInfo.pageCount">
            {{ book.volumeInfo.pageCount }} pages
          </p>
          <p class="card-text" *ngIf="book.volumeInfo.industryIdentifiers">
            <small class="text-muted">
              ISBN
              {{ book.volumeInfo.industryIdentifiers[0].identifier }}</small
            >
          </p>
          <p class="card-text">
            <small class="text-muted">
              This information is applicable for the edition pubished by
              {{ book.volumeInfo.publisher }} on
              {{ book.volumeInfo.publishedDate }}</small
            >
          </p>
        </div>
      </div>
    </div>
    <!--DROPDOWN SELECT-->
    <form>
      <select
        class="form-select"
        style="width: 150px"
        [(ngModel)]="ngDropdown"
        name="shelf status"
        id="shelfStatus"
        aria-label="shelf status"
        (change)="addBook()"
      >
        <option value="default" disabled>shelve book</option>
        <option value="want to read">want to read</option>
        <option value="reading">reading</option>
        <option value="read">read</option>
        <!-- Potential future feature -->
        <!--<option value="unfinished">not finished</option>-->
      </select>
    </form>
  </div>

  <!--DATE SELECTOR-->
  <div class="text-center mb-5" *ngIf="ngDropdown != 'want to read'">
    <a
      class="btn btn-dark"
      data-bs-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Dates &#9679; Rating &#9679; Notes
    </a>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="card color-block">
      <form
        class="row g-3 mt-3 mb-5 mx-auto"
        action=""
        (submit)="updateDates()"
      >
        <div
          class="col-md-6 my-3 mx-auto"
          *ngIf="
            bookInLibrary != undefined && bookInLibrary.shelf != 'want to read'
          "
        >
          <div class="form-group">
            <label for="start">Start date:</label>

            <input
              class="form-control"
              type="date"
              id="start"
              name="trip-start"
              value="{{ ngDateInputStart }}"
              min="1900-01-01"
              max="{{ ngDateInputStart }}"
            />
          </div>

          <div class="form-group">
            <label for="end">Finished date:</label>

            <input
              [(ngModel)]="ngDateInputEnd"
              class="form-control"
              type="date"
              id="end"
              name="trip-end"
              value="{{ ngDateInputEnd }}"
              min=""
              max=""
            />
          </div>
        </div>
        <!--Star component-->
        <div class="form-group form-row">
          <div class="col-sm-auto my-2 mx-auto text-center">
            <label class="" for="rating">Add your rating:</label>
            <app-stars
              #starchild
              [rating]="bookInLibrary[0].rating"
              *ngIf="bookInLibrary !== undefined"
            ></app-stars>
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col-md-6 my-3 mx-auto w-100">
            <label class="" for="notes">Add your personal notes:</label>

            <textarea
              class="form-control"
              type="text"
              id="notes"
              name="notes"
              value="{{ notes }}"
            ></textarea>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-dark" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>

  <!--GENRE AND SINOPSIS SECTION-->
  <div class="text-center">
    <h1 class="header-title">Genres</h1>

    <div class="mx-auto my-5 px-6 pt-4 pb-2">
      <div class="flex flex-wrap genre-container">
        <span
          *ngFor="let genre of genres"
          class="badge rounded-pill bg-info genre-pill"
          >{{ genre }}</span
        >
        <p
          *ngIf="
            book.volumeInfo.categories === null ||
            book.volumeInfo.categories === undefined
          "
        >
          No information available at this time
        </p>
      </div>
    </div>

    <h1 class="header-title">Sinopsis</h1>

    <div class="card color-block mx-auto my-5 text-start">
      <p [innerHTML]="book.volumeInfo.description" class=""></p>
      <p *ngIf="!book.volumeInfo.description">
        No information available at this time
      </p>
    </div>
  </div>
</div>
